[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask-Migrate = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
gunicorn = "*"
SQLAlchemy = "*"
Flask-Cors = "*"
sqlalchemy-utils = "*"
flask = "*"
"psycopg2" = "*"
"testing.postgresql" = "*"

[dev-packages]
mypy = "*"
pytest = "*"

[requires]
python_version = "3.6"
